<h1 class = "bg-primary">Welcome</h1>
<app-tasks></app-tasks>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink = ''>Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a  class="nav-link" routerLinkActive = "active current" routerLink = "/products/view">View <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive = "active current" routerLink= "/products/edit">Edit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive = "active current" routerLink = "/products/view/2">Purchase view</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive = "active current" routerLink = '/admin'>Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive = "active current" routerLink = '/checkout'>Check Out</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive = "active current" routerLink = '/orders'>Orders Check</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive = "active current" routerLink = '/observable'>shop cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive = "active current" routerLink = '/contacts'>Contacts</a>
          </li>
      </ul>
    </div>
  </nav>
<div >
    <router-outlet></router-outlet>  
</div>

<div [ngSwitch]=  'switchValue'>
    
  <div *ngSwitchCase = '1'>Display 1</div>
  <div *ngSwitchCase = '2'>Display 2</div>
  <div *ngSwitchCase = '3'>Display 3</div>
  <div *ngSwitchDefault >Display Default</div>
  
</div>

<ul>
  <li *ngFor = "let user of users; index as i; first as f;last as l; even as e">{{i}}:{{f}}:{{l}}:{{e}}:{{user.name}}</li>
  </ul>

  <div [ngStyle]="{'color': 'cyan', 'backgroundColor' :'tomato', 'font-size': '2rem'}">NgStyle example: set up style of dom elements properties</div>
  <div [ngClass]="'one'">NgClass example: set up class name of dom elements </div>
  <div [ngClass]="[clsName1,clsName2]">NgClass example: dynamically set up class name of dom elements </div>
  <div [ngClass]="{'one':true,'two':false}">NgClass example: conditionally set up class name of dom elements </div>